* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 3rem;
}

.Container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 0 20px
}

section {
  border: 2px solid black;
  position: relative;
  font-family: 'Roboto',
  sans-serif;
  padding: 25px;
  padding-top: 2.3rem;
  text-align: justify;
}

.box1 {
  position: absolute;
  border: 2px solid black;
  border-top: none;
  border-right: none;
  background-color: pink;
  top: 0;
  right: 0;
  padding: .2rem 1rem;
}

.box2 {
  position: absolute;
  border: 2px solid black;
  border-top: none;
  border-right: none;
  background-color: rgb(223, 66, 66);
  color: #fff;
  top: 0;
  right: 0;
  padding: .2rem 1rem;
}

.box3 {
  position: absolute;
  border: 2px solid black;
  border-top: none;
  border-right: none;
  background-color: rgb(216, 216, 48);
  top: 0;
  right: 0;
  padding: .2rem 1rem;
}

/* Desktop */ 

@media screen and (max-width: 992px) {
  .Container {
    flex-direction: row;
  }
}

/* Tablet */

@media screen and (min-width: 768px) and (max-width: 991px) {
  .Container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .s {
    grid-column: 1 / -1;
  }
  h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 2.5rem;
  }
}

/* Mobile */ 

@media screen and (max-width: 767px) {
  .Container {
    flex-direction: column;
  }
  h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 2rem;
  }
}